input {
  tcp {
    port => {{ default .Env.listener_port "9000" }}
    codec => "json_lines"
    type => "json_lines" 
  }
  beats {
    port => {{ default .Env.beats_port "5044" }}
  }
  {{ if .Env.collectd_port }}
  udp {
    port => {{ .Env.collectd_port }}
    buffer_size => 1452
    codec => collectd {
      typesdb => [ '/usr/share/logstash/config/collectd-types.db',
                    '/usr/share/logstash/config/types.db' ]
     }
    type => "collectd"
  }
  {{ end }}
}