
output {
  {{ if .Env.debug_output }}
  stdout { codec => rubydebug }
  {{ end }}
  {{ if .Env.elastic_server }}
  elasticsearch { 
    hosts => ["{{ .Env.elastic_server }}" ] 
    {{ if .Env.elastic_user }}
    user => "{{ .Env.elastic_user }}"
    password => "{{ .Env.elastic_password }}"
    {{ end }}
    index => "%{index}"
    document_id => "%{fingerprint}"
  }
  {{ end }}
}
