
output {
  {{ if .Env.debug_output }}
  stdout { codec => rubydebug }
  {{ end }}
  {{ if .Env.elastic_server }}
  elasticsearch { 
    hosts => ["{{ .Env.elastic_server }}" ] 
    index => "%{index}"
    document_id => "%{[@metadata][doc_id]}"
  }
  {{ end }}
}
